[submodule "swarm_ws/src/ROS2swarm"]
	path = swarm_ws/src/ROS2swarm
	url = https://github.com/ROS2swarm/ROS2swarm
[submodule "swarm_ws/src/driving_swarm_infrastructure"]
	path = swarm_ws/src/driving_swarm_infrastructure
	url = https://github.com/ovgu-FINken/driving_swarm_infrastructure
[submodule "swarm_ws/src/turtlebot3"]
	path = swarm_ws/src/turtlebot3
	url = https://github.com/ROBOTIS-GIT/turtlebot3
[submodule "swarm_ws/src/turtlebot3_msgs"]
	path = swarm_ws/src/turtlebot3_msgs
	url = https://github.com/ROBOTIS-GIT/turtlebot3_msgs
[submodule "swarm_ws/src/turtlebot3_simulations"]
	path = swarm_ws/src/turtlebot3_simulations
	url = https://github.com/ROBOTIS-GIT/turtlebot3_simulations
